.cls_author p{
  font-family: cursive;
  font-weight: bold;  
 
}

@media screen and (min-width:380px) and (max-width:576px) {
  .cls_author p{
    font-size: 18px;   
  }
}
@media screen and (min-width:577px) and (max-width:1280px) {
  .cls_author p{
    font-size: 20px;   
  }
}