.phrase_container{
   width: 320px;
   height: 110px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
  
   border-radius: 10%;
   border-top-left-radius: 30%;
   border-bottom-right-radius: 30%;
 
   color: #727272;
 
   background-color: #f8f2f2;
}

@media screen and (min-width:380px) and (max-width:576px) {
  .phrase_container{
    width: 360px;
    height: 125px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width:577px) {
  .phrase_container{
    width: 360px;
    height: 125px;
    margin-bottom: 60px;
  }
}